<div class="container">
  <div class="row">
      <p class="col">
        <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">QR Code</a>
      </p>
      <p class="col">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
      </p>


  </div>
</div>
<pre>
  <h5><%= @user.name  %></h5><h5><%= @insession.joincode
   @session.name %></h5>
</pre>


  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <%= raw @qr.as_html %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
  </div>



<style media="screen">
table {
border-width: 0;
border-style: none;
border-color: #0000ff;
border-collapse: collapse;
margin: 0 auto
}

td {
border-left: solid 10px #000;
padding: 0;
margin: 0;
width: 0px;
height: 10px;
}

td.black { border-color: #000; }
td.white { border-color: #fff; }
</style>
